
{% load static %}
<nav class="ss-landing-navbar  ">
        <div class="ss-landing-container">
            <div class="ss-landing-logo">🔐 Secure Share</div>
            <div class="ss-landing-nav-buttons">
                <!-- <a href="{% url 'landing' %}" class="ss-landing-btn ss-landing-btn-primary">Home</a> -->
                <a href="{% url 'landing' %}" class="btn btn-light">Home</a>
                <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-light">Sign Up</a>
                <a href="/contact/" class="btn btn-light">Contact</a>
            </div>
        </div>
    </nav>