	<div id="menu" style="display: flex;  align-items: center; background-color: #269999; padding: 45px; height:2px;">
		<ul style="display: flex; list-style: none; margin: 0; padding: 0;  ">
			<li style="margin: 0; padding: 0;">
				<a href="/userhome/" style="color: white; text-decoration: none; font-weight: bold; padding: 8px 16px; vertical-align: middle; display: inline-block;">User Home</a>
			</li>
			<li style="margin: 0; padding: 0;">
				<a href="/sharenotes/" style="color: white; text-decoration: none; font-weight: bold; padding: 8px 16px; vertical-align: middle; display: inline-block;">Share Notes</a>
			</li>
			<li style="margin: 0; padding: 0;">
				<a href="/viewnotes/" style="color: white; text-decoration: none; font-weight: bold; padding: 8px 16px; vertical-align: middle; display: inline-block;">View Notes</a>
			</li>
			
			<li style="margin: 0; padding: 0;">
				<a href="/cpuser/" style="color: white; text-decoration: none; font-weight: bold; padding: 8px 16px; vertical-align: middle; display: inline-block;">Change Password</a>
			</li>
			<li style="margin: 0; padding: 0;">
				<a href="/" style="color: white; text-decoration: none; font-weight: bold; padding: 8px 16px; vertical-align: middle; display: inline-block;">Logout</a>
			</li>
		</ul>
	</div>
	